.dropdown {
  position: absolute;
  top: 3.7rem;
  left: 7rem;
  z-index: 5;

  @include respond(tab-port) {
    left: 15rem;
    top: 4.3rem;
  }

  @include respond(phone) {
    left: 9rem;
    top: 3.8rem;
  }

  .btn {
    background-color: transparent;
    color: $color-white;
    border: none;

    &:focus {
      outline: none;
    }
  }

  @include respond(fold) {
    top: 3.8rem;
    left: 9rem;
  }

  &__container {
    @include flex-config(
      $display: flex,
      $direction: column,
      $justify: center,
      $align: center
    );

    background-color: rgba(0, 0, 0, 0.9);
    margin: 4rem 0 0 -9rem;
    padding: 2rem 10rem 2rem 10rem;
    border: solid rgba(255, 255, 255, 0.15);
    border-width: 0.5rem 0.1rem 0.1rem 0.1rem;
  }

  &__item {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    color: $color-white;
    text-decoration: none;

    &:not(:first-of-type) {
      margin-top: 3rem;
    }
  }
}
