@mixin flex-config(
  $display: false,
  $wrap: false,
  $direction: false,
  $justify: false,
  $align: false
) {
  @if $display != false {
    display: $display;
  }

  @if $wrap !=false {
    flex-wrap: $wrap;
  }

  @if $justify != false {
    justify-content: $justify;
  }

  @if $direction != false {
    flex-direction: $direction;
  }

  @if $align != false {
    align-items: $align;
  }
}

@mixin netflix-border {
  border-bottom: 1rem solid $color-gray-dark;
}

@mixin landing-section-config {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $color-black;
  color: $color-white;
  padding: 10rem 6rem;
  border-bottom: 1rem solid $color-gray-dark;
}

@mixin signup-info {
  &__span {
    font-weight: 600;
  }

  &__heading-primary {
    font-size: 3rem;
    padding: 1rem 0;
  }

  &__heading-secondary {
    font-size: 2rem;
    font-weight: normal;
    padding: 1rem 0;
  }
}

@mixin continue-btn {
  font-size: 2rem;
  background-color: $color-red;
  color: $color-white;
  padding: 2rem 3rem;

  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

// MEDIA QUERY MANAGER
/*
0-300px       Fold
0-650px:      Phone
650-900px:    Tablet: Portrait
900-1200px:   Tablet Landscape
[1200-1800px] Is where the normal styles apply
1800px + :    Big Desktop
$breakpoint argument choices
- fold
- phone
- tab-port
- tab-land
- big-desktop
1 em = 16 px;
650px/16px = 40.625em;
*/

@mixin respond($breakpoint) {
  @if $breakpoint == fold {
    @media (max-width: 18.75em) {
      //900px
      @content;
    }
  }

  @if $breakpoint == phone {
    @media (max-width: 40.625em) {
      //650px
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
