.step-1-section {
  @include flex-config($display: flex, $direction: column, $align: center);

  @include respond(tab-port) {
    padding-bottom: 5rem;
  }
}

.icons-container {
  @include flex-config($display: flex, $justify: space-around);
  margin-top: 15rem;
  width: 500px;

  @include respond(phone) {
    margin-top: 10rem;
    width: 70%;
  }

  &__icon {
    font-size: 10rem;
    color: $color-red;

    @include respond(phone) {
      font-size: 5rem;
    }
  }
}

.step-1-info {
  width: 500px;
  margin-top: 5rem;

  @include respond(phone) {
    width: 80%;
    text-align: start;
  }

  &__paragraph {
    font-size: 2rem;
    padding: 1rem 0;
  }

  @include signup-info;

  &__btn {
    width: 500px;
    margin-top: 2rem;
    @include continue-btn;

    @include respond(phone) {
      width: 100%;
    }
  }
}
