.get-started {
  @include respond(tab-port) {
    @include flex-config($display: flex, $direction: column, $align: center);
  }

  &__input {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    width: 70%;
    padding: 2rem 1rem;

    @include respond(phone) {
      width: 90%;
      padding: 1rem;
    }

    &:focus {
      outline-color: #0011ff;
      outline-style: solid;
    }

    &::placeholder {
      font-size: clamp(1.5rem, 2.5vw, 2rem);
      margin-left: 3rem;
    }

    &:focus::placeholder {
      font-weight: 600;
      transform: translateY(-1rem);
    }
  }

  &__btn {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    background-color: $color-red;
    color: $color-white;
    padding: 2.3rem 2rem;
    text-transform: uppercase;
    outline: none;
    border: none;
    cursor: pointer;

    @include respond(tab-port) {
      margin-top: 3rem;
    }

    @include respond(phone) {
      padding: 1rem;
    }
  }
}
