.get-started {
  &__input {
    font-size: 2rem;
    width: 70%;
    padding: 2rem 1rem;

    &:focus {
      outline-color: #0011ff;
      outline-style: solid;
    }

    &::placeholder {
      font-size: 2rem;
      margin-left: 3rem;
    }

    &:focus::placeholder {
      font-size: 1.5rem;
      font-weight: 600;
      transform: translateY(-1rem);
    }
  }

  &__btn {
    font-size: 2rem;
    padding: 2.3rem 2rem;
    background-color: $color-red;
    text-transform: uppercase;
    cursor: pointer;
  }
}
