.footer {
  background-color: $color-gray-darker;
  color: $color-gray-light;

  &__paragraph {
    text-align: center;

    &:not(:first-child) {
      padding-bottom: 5rem;
    }
    &:not(:last-child) {
      margin-top: 5rem;
    }
  }

  a {
    text-align: center;
    width: 20rem;
  }

  &__logo {
    width: 50%;
    height: auto;
    padding: 0.8rem 0;
  }
}

.netflix-border {
  width: 100%;

  @include netflix-border;
}

.container {
  @include flex-config(
    $display: flex,
    $direction: column,
    $justify: center,
    $align: center
  );
  padding: 0 5rem;
}
