.overlay {
  @include flex-config($display: flex, $justify: center, $align: center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000094;
  z-index: 999;
  transition: opacity 0.2s ease;
}

.modal {
  z-index: 998;
  color: $color-white;
  width: 60%;
  height: 75%;
  overflow: auto;
  margin: 0 auto;
  background-color: $color-gray-dark;
  border-radius: 2px;
  box-shadow: 0 2px 8px 3px rgb(66, 66, 66);
  transition: all 0.2s ease-in;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  @include respond(tab-land) {
    margin-top: 6rem;
  }

  @include respond(tab-port) {
    margin-top: 14rem;
  }

  @include respond(phone) {
    width: 95%;
    margin-top: 8rem;
  }

  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

.modal-preview {
  position: relative;
  &__img {
    width: 100%;
  }

  &__close {
    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 2rem;
    cursor: pointer;
  }
}

.modal-cta {
  width: 100%;
  @include flex-config($display: flex, $direction: column);
  position: absolute;
  bottom: 10%;
  left: 5%;

  &__movie-title {
    font-size: clamp(1.2rem, 2vw, 2.3rem);
    margin-bottom: 1rem;
    width: 30%;
  }

  &__btn {
    display: block;
    width: 20%;
    font-size: clamp(1.5rem, 2vw, 2rem);
    padding: 2rem 3rem;
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;

    @include respond(tab-land) {
      width: 25%;
    }

    @include respond(tab-port) {
      width: 30%;
      padding: 1.5rem 2rem;
    }

    @include respond(phone) {
      width: 35%;
      padding: 1rem 2rem;
    }

    @include respond(fold) {
      width: 40%;
    }

    &:focus {
      outline: none;
    }
  }

  &__play-icon {
    margin-right: 2rem;
    font-size: 1.5rem;
  }
}

.modal-info {
  @include flex-config($display: flex, $justify: space-between);
  padding: 2rem 0 5rem 0rem;
}

.info-col-left {
  width: 40%;
  margin-left: 4rem;

  @include respond(phone) {
    margin-left: 2rem;
  }

  &__release-year {
    font-size: 3rem;
    padding: 1rem 0;
  }

  &__overview {
    font-size: 1.5rem;
    color: #cccccc;
    padding: 1rem 0;
  }
}

.info-col-right {
  margin-right: 6rem;

  @include respond(phone) {
    margin-right: 2rem;
  }

  &__desc {
    font-size: 1.3rem;
    color: #ffffff;
    font-weight: 700;
    margin-top: 1rem;
    padding: 0.5rem 0;
  }

  &__paragraph {
    font-size: 1.3rem;
    color: #cccccc;
  }
}
