.section-hero {
  @include flex-config($display: flex, $justify: center);
  position: relative;
  min-height: 80vh;
  background-image: url('require@/../../assets/images/netflix-background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 10rem;

  @include netflix-border;
}

.nav {
  @include flex-config($display: flex, $justify: space-between, $align: center);
  position: absolute;
  top: 0;
  width: 100%;

  &__logo {
    margin-left: 4rem;
  }

  &__login-btn {
    font-size: clamp(1.8rem, 2vw, 2rem);
    color: $color-white;
    background-color: $color-red;
    margin-right: 4rem;
    padding: 1rem 4rem;
    border-radius: 0.6rem;
    cursor: pointer;

    @include respond(tab-port) {
      padding: 1rem;
    }
  }
}

.heading-primary {
  font-size: clamp(2.8rem, 2vw, 4rem);

  @include respond(phone) {
    text-align: center;
  }
}

.heading-secondary {
  font-size: clamp(2rem, 2vw, 2.8rem);

  @include respond(phone) {
    text-align: center;
  }
}

.hero {
  width: 51%;
  margin-top: 40rem;
  color: $color-white;
  text-align: center;

  @include respond(tab-land) {
    margin-top: 30rem;
    width: 60%;
  }

  @include respond(tab-port) {
    margin-top: 20rem;
    padding-bottom: 5rem;
  }

  @include respond(phone) {
    width: 90%;
  }

  &__paragraph {
    font-size: clamp(1.5rem, 2vw, 1.8rem);
    margin-bottom: 3rem;
  }
}

.section-tv {
  @include landing-section-config;

  @include respond(phone) {
    @include flex-config($direction: column);
    padding: 10rem 2rem;
  }
}

.tv-description {
  width: 40%;

  @include respond(phone) {
    width: 100%;
  }
}

.img-container {
  position: relative;
  z-index: 100;
  width: 30%;

  @include respond(phone) {
    margin-top: 5rem;
    width: 80%;
  }

  &__img {
    max-height: 90%;
    max-width: 90%;
  }

  &__video {
    position: absolute;
    width: 90%;
    height: 86%;
    object-fit: cover;
    top: 1%;
    left: 0%;
    z-index: -1;
  }
}

.section-download {
  @include landing-section-config;

  @include respond(phone) {
    @include flex-config($direction: column-reverse);
    padding: 10rem 2rem;
  }
}

.phone-container {
  position: relative;
  z-index: 50;

  @include respond(phone) {
    margin-top: 5rem;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__inner-img {
    position: absolute;
    top: 5%;
    left: 11%;
    height: 87%;
    width: 78%;
    z-index: -2;
  }
}

.phone-overlay {
  @include flex-config($display: flex, $justify: space-around, $align: center);
  position: absolute;
  bottom: 14%;
  left: -10%;
  width: 120%;
  background-color: $color-black;
  border: 0.2rem solid $color-gray-dark;
  border-radius: 1rem;
  padding: 1rem 2rem;
  z-index: 51;
}

.overlay-info {
  margin-left: 1rem;

  &__heading {
    font-size: clamp(1.2rem, 2vw, 1.3rem);
  }

  &__text {
    color: #0000ff;
  }
}

.phone-description {
  width: 40%;

  @include respond(phone) {
    width: 100%;
  }
}

.section-watch-anywhere {
  @include landing-section-config;

  @include respond(phone) {
    @include flex-config($direction: column);
    padding: 10rem 2rem;
  }
}

.watch-anywhere-description {
  width: 40%;

  @include respond(phone) {
    width: 100%;
  }
}

.img-wrapper {
  position: relative;
  z-index: 100;
  width: 30%;

  @include respond(phone) {
    width: 80%;
    margin-top: 5rem;
  }

  &__img-imac {
    max-height: 90%;
    max-width: 90%;
  }

  &__img-iphone {
    position: absolute;
    bottom: -10%;
    left: -5%;
    width: 20%;
  }

  &__video {
    position: absolute;
    width: 75%;
    height: 60%;
    object-fit: cover;
    top: 5%;
    left: 5%;
    z-index: -1;
  }
}

.section-faq {
  @include flex-config(
    $display: flex,
    $direction: column,
    $justify: center,
    $align: center
  );
  @include landing-section-config;
  @include netflix-border;
  text-align: center;
}

.form-faq {
  width: 100rem;
  margin-top: 2rem;

  @include respond(tab-land) {
    width: 100%;
  }

  @include respond(phone) {
    width: 30rem;
  }
}

.footer {
  font-size: 1.5rem;
  background-color: $color-black;
  color: $color-white;
  padding: 5rem 0;
  text-align: center;

  &__paragraph {
    margin-bottom: 1rem;
  }

  &__attribution {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: #606bff;
    }
  }
}
