.body {
  min-height: 100vh;
  background-color: $color-black;
}

.genres-container {
  @include flex-config($display: flex, $align: center);
  margin-left: 3.5rem;

  @include respond(tab-land) {
    justify-content: center;
    margin: 0;
  }

  &__heading {
    font-size: clamp(2rem, 2vw, 4rem);
    color: $color-white;
    margin: 10rem 0 0 0;
  }
}

.card-container {
  text-align: center;
  padding-bottom: 5rem;
}

.select {
  background-color: transparent;
  color: $color-white;
  margin: 10rem 0 0 3rem;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-transform: capitalize;

  @include respond(phone) {
    font-size: 1.5rem;
  }

  &__option {
    background-color: $color-black;
  }
}

.movies-list {
  margin-top: 2rem;
  color: $color-white;

  &__heading {
    font-size: 3rem;
    margin-left: 2rem;
  }
}
