.my-list {
  background-color: $color-black;
  min-height: 100vh;
}

.movies-list {
  @include flex-config($display: flex, $direction: column);
  margin-left: 3rem;
  color: $color-white;

  @include respond(tab-land) {
    align-items: center;
    margin: 0;
  }

  &__heading {
    font-size: clamp(2rem, 2vw, 4rem);
    margin-top: 10rem;
  }
}

.card-container {
  @include flex-config(
    $display: inline-flex,
    $wrap: wrap,
    $align: center,
    $justify: center
  );
  margin-top: 2rem;
}

.card {
  position: relative;
  margin: 0.6rem;

  &__img {
    min-height: 100%;

    @include respond(tab-land) {
      width: 20rem;
    }

    @include respond(phone) {
      width: 10rem;
    }
  }

  &:not(:first-of-type) {
    margin-left: 2rem;
  }
}

.overlay {
  @include flex-config($display: flex, $direction: column, $align: center);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(53, 53, 53, 0.9);
  opacity: 0;
  transition: 0.5s ease;
  color: $color-white;

  &__img {
    width: 50%;
    height: 50%;
    margin-top: 1rem;
  }

  &:hover {
    opacity: 1;
  }
}

.icon-container {
  @include flex-config($display: flex, $justify: space-around);
  width: 100%;
  margin-top: 6rem;
  font-size: 3rem;
}

.left {
  position: relative;
  width: 60%;
  margin-left: 2rem;

  &__icon {
    cursor: pointer;

    &:not(:first-of-type) {
      margin-left: 1rem;
    }
  }
}

.right {
  position: relative;
  width: 30%;

  &__icon {
    cursor: pointer;
  }
}
