.my-list {
  background-color: $color-gray-darker;
  min-height: 100vh;
}

.movies-list {
  @include flex-config($display: flex, $direction: column);
  margin-left: 3rem;
  color: $color-white;

  @include respond(tab-land) {
    align-items: center;
    margin: 0;
  }

  &__heading {
    font-size: clamp(2rem, 2vw, 4rem);
    margin-top: 13rem;
  }
}

.card-container {
  @include flex-config(
    $display: inline-flex,
    $wrap: wrap,
    $align: center,
    $justify: center
  );
  margin-top: 2rem;
}
