.body {
  min-height: 100vh;
  background-color: $color-black;
}

.popular-movies {
  @include flex-config($display: flex, $direction: column);
  margin-left: 3rem;

  &__heading {
    font-size: 4rem;
    color: $color-white;
    margin: 10rem 0 0 0;
  }
}

.movie-sliders {
  padding: 3rem 3rem 0 3rem;
}
