.body {
  position: relative;
  min-height: 100vh;
  background-color: $color-gray-darker;
  padding-bottom: 5rem;
}

.popular-movies {
  @include flex-config($display: flex);
  margin-left: 3.5rem;

  @include respond(tab-land) {
    justify-content: center;
    margin: 0;
  }

  &__heading {
    font-size: clamp(2rem, 2vw, 4rem);
    color: $color-white;
    margin-top: 13rem;
  }
}

.movie-sliders {
  padding: 3rem 3rem 0 3rem;
}
