.signin {
  position: relative;
}

.main {
  @include flex-config(
    $display: flex,
    $direction: column,
    $justify: center,
    $align: center
  );
  background-image: url('require@/../../../assets/images/netflix-background2.jpg');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  position: absolute;
  top: 0;
  left: 3%;
}

.form-container {
  @include flex-config($display: flex, $direction: column);
  background-color: rgba($color-black, 0.75);
  width: 500px;
  padding: 0 5rem;

  @include respond(tab-port) {
    width: 100%;
    min-height: 100vh;
  }
}
